{% extends 'layout.html' %}

{% block body %}




<div class="container">
<!--style="position:fixed;  float:none; display: inline-block;-->
 

<div  class="jumbotron" style="overflow; height:100vh;">

  {% for candidate in candidates %}
  {% set name = candidate.name + "-" + candidate.c_id|string %}
  <div class="container " align="centre">
            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive" src="{{candidate.thumb}}" alt="" width="90" height="120">
                    
                </a>
            </div>
            <div class="col-md-9" style="vertical-align: bottom; display: table-cell; height: 100px" >

                <div style="max-height: 200px;overflow: auto">
{#                <form>#}
                  <input type="radio" name="voter_id" value={{ name }}>{{ candidate.name }} <br>
{#                </form>#}
{#                <h3 class="animated fadeInUp" style="margin-top:0;">{{ candidate.name }}</h3>#}
{##}
{#                <button style="margin-left:1%;" class="btn btn-default fui-checkbox-checked archive"  id="{{ candidate.id }}" title="Vote">#}
                </div>

                <div style="max-height: 200px;overflow: auto">
                  <h6 class="cat"><strong>#{{ candidate.party}}</strong></h6  >
                </div>

            </div>
            
        </div>
        <hr class="first">
        
 
    {% endfor %}
</div>
<button type="submit" class="submit-btn btn btn-lg btn-primary btn-block">Vote</button>
</div>


{% endblock %}

{% block script %}

<script>
    $(".submit-btn").click(function(){
       var radios = document.getElementsByName('voter_id');
        var selected=0;
        var option;
        for (var i = 0, length = radios.length; i < length; i++)
        {
         if (radios[i].checked)
         {
          option = radios[i].value;
          selected = 1;
          break;
         }
        }
        if (selected===0)
        {
            alert("You have not selected any option");
        }

        else{

          $.confirm({
                title: "Are you sure you want to vote for " + option.split("-")[0],                 
                draggable: true,
                backgroundDismiss: true,
                theme:"modern",
                type:"blue",
                  buttons: {
                      yes: {
                        btnClass: 'btn-blue',
                        action: function (){
                            $.ajax({
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                url: "/vote",
                                data: JSON.stringify({ "candidate" :option, "constituency":"Mangaluru"}),
                                success: function (stuff) {
                                    $.alert({
                                       title: 'Vote Successfull! Smart Contract deployed!',
                                       content: '\n ContractAddr : ' + stuff["address"],
                                       icon:'fa fa-check',
                                       theme: "modern",
                                       type:"green",
                                       buttons:{
                                          ok: function(okbutton){
                                            window.location  = '/logout';
                                          }
                                       }
                           });
                        }
                      });
                      }
                    }
                  }
                  });
          

        }
        
        
    });
</script>
{% endblock %}
{% block style %}
<style>
.cat{
	position:absolute; 
	bottom:2%; 
	left:1%; 
	background-color: #48c9b0; 
	color:#ffffff; 
	text-transform: uppercase;
	padding: 5px 5px;
	border-radius: 5%;
}
</style>
{% endblock %}
