{% extends 'layout.html' %}

{% block body %}




<div class="row">
<!--style="position:fixed;  float:none; display: inline-block;-->
  <div class="col-sm-5" >
    
  </div>

<div class="col-sm-7" style="overflow-y:scroll; height:100vh;">

  {% for candidate in candidates %}
  <div class="row" >
            <div class="col-md-3" style="height: 30px">
                <a href="#">
                    <img class="img-responsive" src="{{candidate.thumb}}" alt="">
                    <h6 class="cat"><strong>#{{ candidate.party}}</strong></h6	>
                </a>
            </div>
            <div class="col-md-9">
{#                <form>#}
                  <input type="radio" name="voter_id" value={{ candidate.name + "-" + candidate.c_id }}>{{ candidate.name }} <br>
{#                </form>#}
{#                <h3 class="animated fadeInUp" style="margin-top:0;">{{ candidate.name }}</h3>#}
{##}
{#                <button style="margin-left:1%;" class="btn btn-default fui-checkbox-checked archive"  id="{{ candidate.id }}" title="Vote">#}
            </div>
        </div>
        <hr class="first">
 
    {% endfor %}
</div>
<button type="submit" class="submit-btn">Vote</button>
</div>

{% endblock %}

{% block script %}

<script>
    $(".submit-btn").click(function(){
       var radios = document.getElementsByName('voter_id');
        var selected=0;
        var option;
        for (var i = 0, length = radios.length; i < length; i++)
        {
         if (radios[i].checked)
         {
          option = radios[i].value;
{#          alert(option);#}
          selected = 1;
          break;
         }
        }
        if (selected===0)
        {
            alert("You have not selected any option");
        }
        $.ajax({
			  type: "POST",
			  contentType: "application/json; charset=utf-8",
			  url: "/vote",
			  data: JSON.stringify({ "candidate" :option, "constituency":"Mangaluru"}),
			  success: function (stuff) {
            $.alert({
               title: 'Vote Successfull!',
               content: 'Contract updated. \n ContractAddr : ' + stuff["address"],
               icon:'fa fa-check',
               theme: "modern",
               type:"green",
               buttons:{
                  ok: function(okbutton){
                    window.location  = '/logout';
                  }
               }
                   });

		        }});
        
    });
</script>
{% endblock %}
{% block style %}
<style>
.cat{
	position:absolute; 
	bottom:2%; 
	left:1%; 
	background-color: #48c9b0; 
	color:#ffffff; 
	text-transform: uppercase;
	padding: 5px 5px;
	border-radius: 5%;
}
</style>
{% endblock %}
