{% extends 'layout.html' %}
{% block body %}
 <div class="row" style=" border-bottom: 1px solid #ccc; text-align:center;">
            <div class="col-sm-2" >
                <h6 class="" style="text-transform:uppercase" >Timestamp</h6>
            </div>
            <div class="col-sm-8" >
                <h6 class="trasac_id" style="text-transform:uppercase">Contract Address</h6>
            </div>


        </div>

    {% for transaction in transactions %}
        <div class="row" style=" border-bottom: 1px solid #ccc;text-align:center;">
            <div class="col-sm-2" >
                <h6 class="" style="font-size:medium;">{{ transaction.timestamp }}</h6>
            </div>
            <div class="col-sm-8">
                <h6 class="trasac_id">{{ transaction.t_id }}</h6>
            </div>
            <div class="col-sm-2" style="margin-top:0.5%;">
                 <button class="btn btn-success view" id={{ transaction.t_id }}>View</button>
            </div>

        </div>
    {% endfor %}
     <script type="text/javascript">
        $(".view").click(function() {
            var id = this.id;
            {#            $.confirm({#}
            {#                title: "Confirm Vote?",#}
            {#                content: "This action cannot be undone",#}
            {#                draggable: true,#}
            {#                icon:'fa fa-trash',#}
            {#                backgroundDismiss: true,#}
            {#                theme:"modern",#}
            {#                type:"red"});#}

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/ledger",
                data: JSON.stringify({"transaction_id": id}),
                success: function (stuff) {

                    $.alert({
                        title: 'Constituency : ' + stuff["constituency"] + "\n\n" + " Candidate: " + stuff["name"],
                        content: 'Smart Contract Information',
                        icon: 'fa fa-check',
                        theme: "modern",
                        type: "green"
                    });
                }
            });
        });
    </script>
{% endblock %}